<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Platform for screening tenants and managing existing tenants">
    <meta name="keywords" content="tenant,landlord,tenant screening,tenant report">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/png">
    <!-- <meta property="og:url" content="http://cannotbetrusted.com"> -->
    <!-- <meta property="og:title" content="Cannot Be Trusted"> -->
    <meta property="og:description" content="Tenant screening platform">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="google-site-verification" content="0F8PQEVqUilxTtYXcL5KDsUJQ6PVUoTBFppF6RMpBaQ" /> -->
    <title>Search/Report Tenant</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router@3.x"></script>
    <script src="https://unpkg.com/vuex@3.x"></script>
    <script src="https://unpkg.com/vee-validate@3.x/dist/vee-validate.full.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <link href="cbt/css/style.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="cbt/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="cbt/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="cbt/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="cbt/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="cbt/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script> -->
    <!-- <script src="/bmr/lib/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/nosleep/0.11.0/NoSleep.min.js" integrity="sha512-z2nddjNLcxjIKYaNqKfpwgl+8mFVU4gTL8afldQukUIOKYgFbD2TyDCyAFlCKuWoLhEJ49zpEnzLDiPMXKJ1kQ==" crossorigin="anonymous"></script> -->
</head>
<body>
    <div id="myapp">
        <header>
            <router-link to="/">{{$APP_NAME}}</router-link>
            <router-link :to="`/report-${$APP_TARGET_OPPOSITION}`" v-if="!$route.path.includes(`report-${$APP_TARGET_OPPOSITION}`)">
                <button class="waves-effect waves-light btn animated fadeIn" style="height: max(5.2vh,36px);">Report {{$APP_TARGET_OPPOSITION}}</button>
            </router-link>
        </header>
        <router-view></router-view>
        <footer>
            <router-link to="/about">About us</router-link>
            <a :href="`mailto:${$APP_EMAIL}`">Contact us</a>
            <router-link to="/faq" v-if="$APP_LANDLORD">FAQ</router-link>
            <router-link to="/" v-if="$route.path !== '/'">Home</router-link>
            <!-- <router-link to="/terms">Terms & Conditions</router-link> -->
        </footer>
    </div>
<script type="text/x-template" id="landing">
    <div class="landing">
        <div class="landing-container">
            <validation-observer ref="form">
                <validation-provider name="Street Address" v-slot="{ errors,valid,invalid,validated }" slim>
                    <div class="name-search">
                        <input 
                            class="browser-default search-box animated"
                            :class="{'error': submitted && invalid, 'shake': invalid && errorShake}"
                            type="search" 
                            v-model="searchInput"
                            required
                            aria-label="Enter full address with zip or postal code"
                            title="Example: Unit# - Address, City, Zip/Postal code"
                            placeholder="search Address"/>
                        <button class="waves-effect btn" :class="{'btn-loading': loading}" @click="searchFreeReport">
                            <i v-show="!loading" class="material-icons" style="font-size: 1.6rem;">search</i>
                            <spinner color-class="default" v-show="loading"></spinner>
                        </button>
                    </div>
                </validation-provider>
                <validation-provider name="Rent Start Date" v-slot="{ errors,valid,invalid,validated }" slim>
                    <div class="input-container">
                        <input 
                            class="browser-default search-box search-dob animated"
                            :class="{'error': submitted && invalid, 'shake': invalid && errorShake}"
                            type="text"
                            ref="startDate"
                            :value="searchStartDate"
                            @keydown="openDatePicker('startDate')"
                            required
                            aria-label="Enter the start date of the rental property"
                            placeholder="Rent Start Date"/>
                    </div>
                </validation-provider>
                <validation-provider name="Rent End Date" v-slot="{ errors,valid,invalid,validated }" slim>
                    <div class="input-container">
                        <input 
                            class="browser-default search-box search-dob animated"
                            :class="{'error': submitted && invalid, 'shake': invalid && errorShake}"
                            type="text"
                            ref="endDate"
                            :value="searchEndDate"
                            @keydown="openDatePicker('endDate')"
                            required
                            aria-label="Enter the end date of the rental property"
                            placeholder="Rent End Date"/>
                    </div>
                </validation-provider>
            </validation-observer>
            <div class="underline" style="text-align: center;margin-top: 16px;" @click="shortCutReport">**{{sampleReport ? 'Showing' : 'See'}} Sample Report**</div>
        </div>
        <slide-modal  v-if="showModal" show="true" @close="closeReportModal" @slideMounted="showSampleReport">
            <div class="score-found hide">
                <div>
                    <div class="btn-floating score"><span></span><span></span>%</div>
                </div>
                <button class="waves-effect waves-light btn" style="display:inline-flex">
                    <i class="material-icons" style="margin-right: 5px;">visibility</i>    
                    See rent score
                </button>
            </div>
            <div class="not-found">
                <h4 v-if="!isMobileOrTablet()" class="capitalize" style="margin-top: 0;">{{sampleReport ? '**Sample Report**' : 'No reports found'}}</h4>
                <h5 v-if="isMobileOrTablet()" class="capitalize" style="margin-top: 0;">{{sampleReport ? '**Sample Report**' : 'No reports found'}}</h5>
                <!-- <span class="underline" @click="showSampleReport">**{{sampleReport ? 'Showing' : 'See'}} sample report**</span> -->
                <div v-show="sampleReport">
                    <i class="material-icons small cursor-pointer" :class="{'primary-text-color': isPie}" @click="view('pie')" style="margin-right: 25px;" title="Pie chart">pie_chart</i>
                    <i class="material-icons small cursor-pointer" :class="{'primary-text-color': isList}" @click="view('list')" title="Table list">list</i>
                </div>
                <collapse class="collapsible-table" v-show="sampleReport && isList">
                    <collapse-item header-class="main-background white-text">
                        <template slot="header">
                            <div class="header-table bold">
                                <span>Date</span>
                                <span>Incident</span>
                                <span>Impact</span>
                                <span>Lease Term</span>
                            </div>
                        </template>
                        <template slot="body">
                            <div class="body-table">
                                <span><b>date:</b> Date incident occured</span>
                                <span><b>Incident:</b> Type of incident</span>
                                <span><b>Impact:</b> Monetary loss to the LandLord</span>
                                <span><b>Lease Term:</b> Duration of the tenants lease</span>
                            </div>
                        </template>
                    </collapse-item>
                    <collapse-item v-for="(incident, index) in incidentTable" :key="index" :more-icon="true" :classes="index < 1 ? 'active' : ''">
                        <template slot="header">
                            <div class="header-table">
                                <span>{{incident.date}}</span>
                                <span>{{incident.type | incidentType}}</span>
                                <span>{{incident.damages | damages}}</span>
                                <span>{{incident.leaseDuration}}</span>
                            </div>
                        </template>
                        <template slot="body">
                            <div class="body-table">
                                <span><b>LandLord:</b> {{incident.reporter}}</span>
                                <span><b>Address:</b> 11 Wall St, New York, NY 10005, United States</span>
                                <span><b>date reported:</b> {{incident.dateReported}}</span>
                                <span><b>summary:</b> {{incident.summary}}</span>
                            </div>
                        </template>
                    </collapse-item>
                </collapse>
                <!-- <p>Request at least 2 reference letters (family, friends, previous landlord) from <span class="capitalize">{{searchInput}}</span></p> -->
            </div>
            <div class="report-found" v-show="isPie">
                <div ref="incidentReport"></div>
                <div ref="monetaryLossReport"></div>
            </div>
        </slide-modal>
    </div>
</script>
<script type="text/x-template" id="report-tenant">
    <div class="report-tenant-container">
        <cbt-progress :current="step" :max="steps.length" v-show="showProgressStep"></cbt-progress>
        <keep-alive>
            <component
                ref="currentComponent"
                class="animated fadeIn report-form-container"
                :is="formStep"
                :navigation-progress="stepNaviagtionProgress"
                @back="goBackward" 
                @next="goForward"
                @paySuccess="paySuccess"
                :report-filed="reportFiled"
                :submit-call="submitReportFilled">
            </component>
        </keep-alive>
    </div>
</script>
<script type="text/x-template" id="rent-info">
    <div>
        <h3>Rental Location</h3>
        <validation-observer ref="form" class="wow form-incident">
            <validation-provider name="Street Address" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">place</i>
                        <input 
                            id="rental-street" 
                            type="text"
                            required 
                            v-model="street"
                            :class="{'invalid': invalid & submitted}">
                    <label for="rental-street">Street Address</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="Unit Number" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">edit</i>
                        <input 
                            id="rental-unit" 
                            type="text" 
                            v-model="unitNumber"
                            :class="{'invalid': invalid & submitted}">
                    <label for="rental-unit"># Unit</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="City" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">place</i>
                        <input 
                            id="rental-city"
                            type="text"
                            required 
                            v-model="city"
                            :class="{'invalid': invalid & submitted}">
                    <label for="rental-city">City</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider v-slot="{ valid,invalid,validated }" rules="required|is_not:0" slim>
                <div class="input-field" :class="{'invalid': invalid & submitted}">
                    <i class="material-icons prefix">public</i>
                    <select v-model="country" required>
                        <option value="" disabled selected>Select</option>
                        <option value="CA">Canada</option>
                        <option value="US">USA</option>
                    </select>
                    <label>Country</label>
                </div>
            </validation-provider>
            <validation-provider name="Zip/Postal Code" :rules="`zip_code:${country}`" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">place</i>
                        <input 
                            id="rental-zipcode"
                            type="text"
                            required
                            v-model="postalOrZipCode"
                            :class="{'invalid': invalid & submitted}">
                    <label for="rental-zipcode">Zip/Postal Code</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
        </validation-observer>
        <div class="navigate navigate-alone">
            <button class="btn middle" :class="{'animated shake': errorShake}" @click="submit">next</button>
        </div>
    </div>
</script>
<script type="text/x-template" id="tenant-info">
    <div>
        <h3>Tenant info</h3>
        <validation-observer ref="form" class="wow">
            <validation-provider name="Tenant fullname" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                        <input 
                            id="icon_prefix" 
                            type="text"
                            required 
                            v-model="name"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_prefix">Full name</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="Tenant email" v-slot="{ errors,valid,invalid,validated }" vid="tenantEmail" slim>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                        <input 
                            id="icon_email" 
                            type="email"
                            required 
                            v-model="email"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_email">Email</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="confirm email" rules="confirmed:tenantEmail" v-slot="{ errors,invalid }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                        <input 
                            id="icon_confirm" 
                            type="email"
                            required 
                            v-model="confirmEmail"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_confirm">Confrim Email</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <!-- <validation-provider name="Tenant date of birth" v-slot="{ errors,invalid }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">today</i>
                        <input
                            class="date-input"
                            :class="{'invalid': invalid & submitted}"
                            id="tenant-dob"
                            type="text"
                            required
                            :value="dateOfBirth"
                            data-vm="dateOfBirth"
                            @keydown="openDatePicker"
                            aria-label="Enter tenant date of birth"/>
                    <label for="tenant-dob">Date of birth (Day-Month-Year)</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider> -->
        </validation-observer>
        <div class="navigate">
            <button class="btn"  @click="$emit('back')">back</button>
            <button  class="btn" :class="{'animated shake': errorShake}" @click="submit">next</button>
        </div>
    </div>
</script>
<script type="text/x-template" id="landlord-info">
    <div>
        <h3>Landlord info</h3>
        <validation-observer ref="form">
            <validation-provider name="Landord fullname" v-slot="{ errors,valid,invalid,validated }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                        <input 
                            id="icon_fullname"
                            type="text"
                            required 
                            v-model="fullname"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_fullname">Full name</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="Landlord email" v-slot="{ errors,valid,invalid,validated }" vid="landlordEmail" slim>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                        <input 
                            id="icon_email" 
                            type="email"
                            required 
                            v-model="email"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_email">Email</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider name="confirm email" rules="confirmed:landlordEmail" v-slot="{ errors,invalid }" slim>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                        <input 
                            id="icon_confirm" 
                            type="email"
                            required 
                            v-model="confirmEmail"
                            :class="{'invalid': invalid & submitted}">
                    <label for="icon_confirm">Confrim Email</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
        </validation-observer>
        <div class="navigate">
            <button class="btn"  @click="$emit('back')">back</button>
            <button  class="btn" :class="{'animated shake': errorShake}" @click="submit">next</button>
        </div>
    </div>
</script>
<script type="text/x-template" id="incident">
    <div>
        <h3>Incident <i class="material-icons tooltipped" data-position="top" :data-tooltip="tooltip">help</i></h3>
        <div class="spinner-container" style="margin-top:50px;">
            <spinner v-show="navigationProgress" size="150" color-class="default"></spinner>
        </div>
        <validation-observer ref="form" class="form-incident" v-show="!navigationProgress">
            <validation-provider name="incident type" v-slot="{ errors,valid,invalid,validated }" rules="required|is_not:0" slim>
                <div class="input-field" :class="{'invalid': invalid & submitted}">
                    <i class="material-icons prefix">description</i>
                    <select v-model="incidentType" required>
                        <option value="" disabled selected>Select</option>
                        <option v-for="(incident, index) in displayIncidents" :key="index" :value="incident.value">{{incident.name}}</option>
                    </select>
                    <label>Type of incident</label>
                    <span class="helper-text" :data-error="errors[0]"></span>
                </div>
            </validation-provider>
            <validation-provider v-slot="{ valid,invalid,validated }" rules="required|is_not:0" slim>
                <div class="input-field" :class="{'invalid': invalid & submitted}">
                    <i class="material-icons prefix">attach_money</i>
                    <select v-model="amount" required>
                        <option value="" disabled selected>Select</option>
                        <option value="0">$0</option>
                        <option value="499">$1 - $499</option>
                        <option value="999">$500 - $999</option>
                        <option value="1499">$1000 - $1499</option>
                        <option value="1999">$1500 - $1999</option>
                        <option value="2499">$2000 - $2499</option>
                        <option value="2999">$2500 - $2999</option>
                        <option value="3499">$3000 - $3499</option>
                        <option value="3999">$3500 - $3999</option>
                        <option value="4499">$4000 - $4499</option>
                        <option value="4999">$4500 - $4999</option>
                        <option value="5000">$5000+</option>
                    </select>
                    <label>Amount in damages/no payment</label>
                </div>
            </validation-provider>
            <div class="input-field">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="summary" ref="summary" v-model="summary" class="materialize-textarea" data-length="200" maxlength="200"></textarea>
                <label for="summary">Summary of incident</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">today</i>
                <validation-provider v-slot="{ invalid }" slim>
                    <input
                    class="date-input"
                    :class="{'invalid': invalid & submitted}"
                    id="tenant-dob"
                    type="text"
                    required
                    :value="dateOfIncident"
                    data-vm="dateOfIncident"
                    @keydown="openDatePicker"
                    aria-label="Enter date of incident"/>
                </validation-provider>
                <label for="tenant-dob">Date of incident (Day-Month-Year)</label>
                <span class="helper-text" data-error="Date of incident is required"></span>
            </div>
            <validation-provider name="image(s)" v-slot="{ errors,validate,invalid }" rules="required|image|file_max:5|size:30000" slim ref="proofImages">
                <div class="file-field input-field">
                    <div class="btn file-upload">
                        <span>Images</span>
                        <input type="file" multiple @change="validate" accept=".jpeg, .jpg, .png">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text" :class="{'invalid': invalid & submitted}" placeholder="Proof of incident">
                        <span class="helper-text" :data-error="errors[0]">Upload 1-5 images (Max size 30MB)</span>
                    </div>
                </div>
            </validation-provider>
            <validation-provider name="lease agreement" v-slot="{ errors,validate,invalid }" rules="required|ext:pdf|size:30000" slim ref="leaseAgreement">
                <div class="file-field input-field">
                    <div class="btn file-upload">
                    <span>PDF</span>
                        <input type="file" @change="validate" accept=".pdf">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text" :class="{'invalid': invalid & submitted}" :placeholder="`Lease agreement with ${$APP_TARGET_OPPOSITION}`">
                        <span class="helper-text" :data-error="errors[0]">Max size 30MB</span>
                    </div>
                </div>
            </validation-provider>
            <!-- <validation-provider name="property tax bill" v-slot="{ errors,validate,invalid }" rules="ext:pdf|size:30000" slim ref="propertyTaxBill">
                <div class="file-field input-field">
                    <div class="btn file-upload">
                    <span>PDF</span>
                        <input type="file" @change="validate" accept=".pdf">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text" :class="{'invalid': invalid & submitted}" placeholder="Latest property tax bill (optional)">
                        <span class="helper-text" :data-error="errors[0]">Max size 30MB</span>
                    </div>
                </div>
            </validation-provider> -->
        </validation-observer>
        <div class="navigate" v-show="!navigationProgress">
            <button  class="btn" @click="$emit('back')">back</button>
            <button  class="btn" :class="{'animated shake': errorShake}" @click="submit">next</button>
        </div>
    </div>
</script>
<script type="text/x-template" id="pay-success">
    <div class="pay-success">
        <i class="material-icons">check_circle_outline</i>
        <h4>Your {{$APP_TARGET_OPPOSITION}} report has been submitted for review.</h4>
        <h6>We will email <span class="primary-text-color">{{displayEmail}}</span> with an approval/rejection based on the information provided.</h6>
    </div>
</script>
<script type="text/x-template" id="terms"> 
    <h1 style="margin-top:1000px">Terms and conditions</h1>
</script>
<script type="text/x-template" id="about-us">
    <div class="animated fadeIn">
        <h4 class="center">About Us</h4>
        <p class="card-panel about-us center" v-if="$APP_LANDLORD">
            Our mission is to <b>identify problematic tenants</b> in the rental marketplace to landlords,
            so that prospective <b>good tenants don't suffer</b> overbearing rental application requirements
            and onboarding requirements.
        </p>
        <p class="card-panel about-us center" v-if="$APP_TENANT">
            Our mission is to <b>identify problematic landlords</b> in the rental marketplace to prospective tenants,
            so that prospective <b>tenants don't suffer</b> poor business practices.
        </p>
    </div>    
</script>
<script type="text/x-template" id="faq">
    <div class="faq-container animated fadeIn">
        <h4 class="center">FAQ</h4>
        <ul class="collapsible popout" ref="collapse">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>Do I have to be a Landlord to see reports
                </div>
                <div class="collapsible-body">
                    <span>No, anyone can see reports made on any address within a rental start date & end date.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>Is a tenants personal information needed to make a report
                </div>
                <div class="collapsible-body">
                    <span>No, the only information needed to report a tenant is the rental address, date of Incident & other incident related information.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>How do I show proof a tenant did not pay rent
                </div>
                <div class="collapsible-body">
                    <span>Take screenshots/pictures of failed attempts to collect payment from the tenant with date/time stamps.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>How do i show proof of property damage
                </div>
                <div class="collapsible-body">
                    <span>Take pictures of the damage if visible and send it along with a quote from a service technician. 
                        Full name of the Landlord or the address of the rental unit should be on the quote.
                        The service technician's contact information should be on the service quote.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>Can a tenant challenge a report made by the landlord
                </div>
                <div class="collapsible-body">
                    <span>Yes, previous/existing tenants can appeal a report. They must provide supporting documents to counter the LandLords supporting documents in the report.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>How do I challenge a report as a previous/existing tenant
                </div>
                <div class="collapsible-body">
                    <span>Contact us directly with the report details you wish to challenge/appeal.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>My report was rejected, what do I do next
                </div>
                <div class="collapsible-body">
                    <span>Create a new report with the appropriate supporting documents.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons grey-text">help_outline</i>I paid my rent in full after a report was made. Can the report be removed
                </div>
                <div class="collapsible-body">
                    <span>No, robbing a bank and then returning all the stolen money doesn't change the fact the bank was robbed.</span>
                </div>
            </li>
        </ul>
    </div>    
</script>
<template id="progress">
    <style>
        .progress {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
            grid-template-rows: 100%;
            width: 100%;
            height: 10px;
            column-gap: 3%;
        }
        .item {
            height: 100%;
            width: 100%;
            background-color: lime;
            border-radius: 10px;
            box-shadow: 5px 8px 9px #d5d5d5, -5px -2px 9px #fff;
        }
        .item.grey {
            background-color: lightgrey;
        }
    </style>
    <div class="progress">
        <div class="item"></div>
    </div>
</template>
<script src="cbt/dist/bundle.js"></script>
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</body>
</html>