<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Plan & share a stock/token sell strategy">
    <meta name="keywords" content="toby, toby crypto, toby coinbase">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="Plan & share a stock/token sell strategy">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Exit Plan</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router@3.5.x"></script>
    <script src="https://unpkg.com/vuex@3.x"></script>
    <script src="https://unpkg.com/vee-validate@3.x/dist/vee-validate.full.min.js"></script>
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <link href="token/css/style.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="token/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="token/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="token/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="token/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="token/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script> -->
    <!-- <script src="/bmr/lib/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/nosleep/0.11.0/NoSleep.min.js" integrity="sha512-z2nddjNLcxjIKYaNqKfpwgl+8mFVU4gTL8afldQukUIOKYgFbD2TyDCyAFlCKuWoLhEJ49zpEnzLDiPMXKJ1kQ==" crossorigin="anonymous"></script> -->
</head>
<body>
    <div id="app"></div>
<script type="text/x-template" id="main-app">
    <div id="myapp" class="app-landlord">
        <header>
            <router-link to="/" class="main-text">Stock Exit Plan</router-link>
            <router-link to="/">
                <button class="waves-effect waves-light btn animated fadeIn" style="height: max(5.2vh,36px);padding: 0 max(3vw, 18px);">Stock Exit Plan</button>
            </router-link>
        </header>
        <router-view class="router-view"></router-view>
        <footer v-if="$store.state.footerDispaly">
        </footer>
    </div>
</script>
<script type="text/x-template" id="token">
    <div class="token-container">
        <slide-modal :show="isModalDisplayed" @close="displayModal(false)">
            <div class="switch" style="margin-top:20px">
                <label class="fa-2x">
                  Price
                  <input type="checkbox" v-model="isMarketCap" @change="updateHeaderNameText">
                  <span class="lever"></span>
                  Market Cap
                </label>
            </div>
            <p v-if="isMarketCap"><b>Note:</b> In this mode only the <a href="https://toadgod.xyz" target="_blank">toby</a> crypto token is supported for now</p>
        </slide-modal>
        <div style="position: fixed;display: flex;width: 100%;justify-content: space-evenly;background-color: white;z-index: 5;padding-top: 3%;border-bottom: 4px solid var(--main-light-color);">
            <div class="input-field">
                <i class="material-icons prefix">account_balance_wallet</i>
                    <input 
                        id="shares" 
                        type="text"
                        placeholder="0"
                        inputmode="numeric"
                        v-numlock
                        v-model="dynamicShares">
                <label class="active" for="shares">My Tokens/Shares</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">monetization_on</i>
                    <input 
                        id="income" 
                        type="text"
                        :value="total.income | numberFormat"
                        class="green-text"
                        disabled>
                <label class="active" for="income">Total Gains</label>
            </div>
        </div>
        <div class="main-component">
            <div v-for="(item, index) of items" v-key="index" class="token-component z-depth-2 animated fadeIn">
                <div style="
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: flex-start;">
                    <span v-if="!moveOptionBucket.includes(index)" class="token-index chip cursor-pointer" @click="prepareToMoveOption(index)">{{index + 1}}</span>
                    <i v-if="moveOptionBucket.includes(index)" class="material-icons">swap_vert</i>
                    <span class="cursor-pointer" @click="displayTitle(item, true)">{{item.title | cardTitleFormat}}</span>
                    <span @click="deleteOption(index)" class="cursor-pointer" :style="items.length === 1 ? 'visibility:hidden' : ''"><i class="material-icons prefix">delete_forever</i></span>
                </div>
                <div class="input-field" v-if="item.titleInputDisplay">
                    <i class="material-icons prefix">edit</i>
                        <input 
                            :id="`title_${index}`" 
                            type="text" 
                            v-model="item.title"
                            maxlength="24"
                            @blur="displayTitle(item, false)"
                            @keyup.enter="displayTitle(item, false)">
                    <label class="active" :for="`title_${index}`">Title</label>
                </div>
                <div class="input-field" v-if="!isMarketCap">
                    <i class="material-icons prefix">trending_up</i>
                        <input 
                            :id="`price_${index}`" 
                            type="text"
                            placeholder="0"
                            inputmode="numeric"
                            v-numlock
                            :value="item.price"
                            @keyup="setOptionPrice($event,item)">
                    <label class="active" :for="`price_${index}`">Price Target</label>
                </div>
                <div class="input-field" v-if="isMarketCap">
                    <img class="circle material-icons prefix" :src="imageUrl" style="width: 30px"/>
                        <input 
                            :id="`cap_${index}`" 
                            type="text"
                            placeholder="0"
                            inputmode="numeric"
                            v-numlock
                            :value="item.marketCap"
                            @keyup="setOptionMarketCap($event,item)">
                    <label class="active" :for="`cap_${index}`">Market Cap Target</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">pie_chart</i>
                        <input 
                            :id="`share_${index}`" 
                            type="number" 
                            v-model="item.sharePercentage">
                    <label class="active" :for="`share_${index}`">% of Holdings to Sell<span> - {{totalSharePercentageBalance | numberFormat}}% left</span></label>
                </div>
                <div class="center fa-2x green-text">{{optionValues[index].value | numberFormat}}</div>
            </div>
            <button style="place-self: center;" @click="addNewOption" class="btn-floating btn-large waves-effect waves-light" :disabled="total.sharePercentage >= 100"><i class="material-icons">add</i></button>
    
            
        </div>
    </div> 
</script>
<script src="token/dist/bundle.js"></script>
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</body>
</html>