<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="A fun picture puzzle game powered by real celebrities on Instagram">
    <meta name="keywords" content="celebrity, puzzle, celebritypuzzle,celebrity puzzle, celebrity gaming, picture puzzle, instagram picture puzzle">
    <meta property="og:image" content="http://celebritypuzzle.com/assets/celebrity-small.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:url" content="http://celebritypuzzle.com">
    <meta property="og:title" content="Celebrity Puzzle">
    <meta property="og:description" content="A fun picture puzzle game powered by real celebrities on Instagram">
    <meta name="google-site-verification" content="g4r3_3eXpFSXEfaVCxwhGvON-aF_YoX97OjllFkcAQk" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Celebrity Puzzle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.3/svg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="scripts/tones.js"></script>
    <script src="https://mochanow.com/lib/socket.io.js"></script>
</head>
<body>
    <div id="myapp">
        <router-view></router-view>
    </div>
<script type="text/x-template" id="leaderboard">
    <div>
        <div class="top-banner"></div>
        <div class="container" style="margin-top: 110px;">
            <router-link to="/dash">
                <div class="btn-floating btn-large waves-effect waves-light fab-menu animated bounce z-depth-4">
                    <i class="material-icons" style="font-size:34px;color:white">home</i>
                </div>
            </router-link>
            <div class="col s12 animated fadeInUp lead-fixed">
                <div class="card-panel z-depth-4 center-align"  style="margin:0px;padding-bottom: 0px;">
                    <div class="row " style="margin-bottom:0px">
                        <span class="right waves-effect waves-block" @click="getLeaderboard"><i class="material-icons" style="color:#f42e91b0;">refresh</i></span>World Ranking
                        <!-- <span class="left"><i class="material-icons" style="color: rgb(108, 163, 205);">people</i>1k</span> -->
                        <span class="left waves-effect waves-block" @click="scrollToMe"><i class="material-icons" style="color: rgb(108, 163, 205);">person</i></span>
                    </div>
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s12">
                            <div class="chip z-depth-1 waves-effect" @click="selectedTime('allTime')" :class="{'chip-selected':!todayChip}">All time</div>
                            <div class="chip z-depth-1 waves-effect" @click="selectedTime('thisWeek')" :class="{'chip-selected':todayChip}">This week</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 center" v-show="loader"><spinner class="animated fadeIn" :colorClass="'default'"></spinner></div>
            <div class="col s12 animated fadeInUp" v-show="!loader && leaderboardList.length === 0">
                <div class="card-panel z-depth-2 center-align" style="padding:9px;margin:0.5rem 0 0.1rem 0;">
                    <div class="col s12">Claim the No 1 spot in the world now before others.</div>
                    <div class="row" style="margin-top:20px;">
                        <router-link to="/dash">
                            <div class="col s12"><span class="btn chip-selected animated pulse">Play Now</span></div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div id="leader-wrapper" v-show="!loader">
                <div class="col s12 animated fadeInUp" v-for="(x, index) in leaderboardList">
                    <div class="card-panel z-depth-2" style="padding:9px;margin:0.5rem 0 0.1rem 0;" 
                    :class="{'grey white-text myprofile': savedProfile === x.name}">
                        <div class="row valign-wrapper" style="margin-bottom:0px">
                            <champion class="col s3" :index="index" :url="x.profile_url" @click.native="makeHeart()"></champion>
                            <div class="col s4 truncate">
                                <span>{{x.name}}</span>
                            </div>
                            <div class="col s3">
                                <span>{{x.realtime}}</span>
                            </div>
                            <div class="col s2 center-align">
                                <a :href="'https://www.instagram.com/' + x.name" target="_blank" rel="noopener noreferrer" style="color:#f42e91b0;">
                                    <span><i class="fab fa-instagram" style="font-size: 23px;"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="row" v-if="index < 3 && savedProfile !== x.name" style="margin-bottom:0px">
                            <div class="center-align col s12">
                                <div class="chip waves-effect" style="margin-bottom:0px" @click="challengePlayer(x)">Challenge</div>
                            </div>
                        </div>
                        <div class="row" v-if="savedProfile === x.name" style="margin-bottom:0px" v-show="!challengeFriends">
                            <div class="center-align col s12">
                                <div class="chip white waves-effect" style="margin-bottom:0px" @click="challengeFriends=true">Challenge A Friend</div>
                            </div>
                        </div>
                        <div class="center-align row" v-if="savedProfile === x.name" v-show="challengeFriends" style="margin-top:20px">
                            <a :href="'whatsapp://send?text=' + challengeUrl(x)">
                                <div class="btn-floating left-right-space waves-effect white" style="margin-bottom: 0px;">
                                    <i class="fa-2x fa-whatsapp fab green-text"></i>
                                </div>
                            </a>
                            <a :href="'fb-messenger://share/?link=' + challengeUrl(x)">
                                <div class="btn-floating left-right-space waves-effect white" style="margin-bottom: 0px;">
                                    <i class="fa-2x fa-facebook-messenger fab blue-text"></i>
                                </div>
                            </a>
                            <a :href="'https://twitter.com/intent/tweet?text=' + challengeUrl(x)" target="_blank">
                                <div class="btn-floating left-right-space waves-effect white" style="margin-bottom: 0px;">
                                    <i class="fa-2x fa-twitter fab blue-text"></i>
                                </div>
                            </a>
                            <div class="btn-floating left-right-space waves-effect white" style="margin-bottom: 0px;" 
                                 @click="copyToClipboard">
                                <i class="fa-2x fas fa-link black-text"></i>
                                
                            </div>
                        </div>
                        <div class="row center-align" v-if="savedProfile === x.name" v-show="challengeFriends">
                            <input class="browser-default" type="text" id="copy-link" :value="challengeUrl(x,true)" width="90%" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hearts hide">
                <!-- hide this in the mean time as it intereferes with the UI since it overlays the player list -->
                <div class="heart" v-for="x in movingHearts" :class="[x.color]" :style="{'fontSize': x.font +'px', 'animation': x.flow + ' ' + x.seconds + 's linear'}">
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="comp-modal">
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <!-- <dash-modal v-bind:dash="modalData" v-if="modalData !== undefined"></dash-modal>
            <game-modal v-bind:game="test" v-if="test !== undefined"></game-modal> -->
            <div v-if="modalPage.page === 'game'" v-show="!modalPage.insta">
                <!-- Game ended -->
                <div class="row left-align">
                    <div class="col s12"><b>Time</b>: {{test.timePlayed}} (mm:ss:ms)</div>
                    <div class="col s12" v-if="challenger !== null"><b>Challenge Time</b>: {{challenger.realtime}}</div>
                    <div class="col s12"><b>Best Time</b>: {{test.bestTime}}</div>  
                    <div class="col s12"><b>World Rank (Today)</b>: #{{test.rank}} <spinner class="animated fadeIn small-loader" :colorClass="'default'" v-show="test.rankLoader"></spinner></div>
                    <div class="center-align col s12" v-show="!challengeFriends" style="margin-top: 10px;">
                        <div class="chip waves-effect" style="margin-bottom:0px" @click="challengeFriends=true">Challenge A Friend</div>
                    </div>                  
                    <div class="col s12" v-show="challengeFriends" style="margin-top: 10px;">
                        <a :href="'whatsapp://send?text=' + urlChallenge.encoded"><i class="fab fa-whatsapp fa-2x green-text left-right-space"></i></a>
                        <a :href="'fb-messenger://share/?link=' + urlChallenge.encoded"><i class="fab fa-facebook-messenger fa-2x blue-text left-right-space"></i></a>
                        <a :href="'https://twitter.com/intent/tweet?text=' + urlChallenge.encoded"><i class="fab fa-twitter fa-2x blue-text left-right-space"></i></a>
                        <i @click="copyToClipboard" class="fa-2x fas fa-link black-text"></i>
                    </div>
                    <div class="col s12 center-align" v-show="challengeFriends" style="margin-top: 5px;">
                        <input class="browser-default" type="text" id="copy-link" :value="urlChallenge.raw" width="90%" readonly/>
                    </div>
                    
                </div>
                
                <div class="row valign-wrapper">
                    <div class="center col s4">
                        <router-link to="/dash" class="modal-action modal-close"><i class="material-icons">home</i> Home</router-link>
                    </div>
                    <div class="center col s4">
                        <div @click="$emit('replay')" class="modal-action modal-close">
                        <i class="material-icons">refresh</i> Retry
                        </div>
                    </div>
                    <div class="center col s4" @click="showSubmit"><i class="fa fa-trophy gold"></i> Submit</div>                
                </div>
            </div>

            <div v-if="modalPage.page === 'dash'">
                <!-- Start a game -->
                <div class="row">
                    <div class="col s12">
                        <b>Instruction</b>: Tap a tile to switch positions with other tiles. Solve the puzzle with the fastest time in the world today
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 push-s9">
                        <router-link :to="{ path: 'game/' + modalData.name }" class="modal-action modal-close">
                            <div class="btn btn-floating btn-large pulse" :style="{'background-color':modalData.color}">
                                <i class="material-icons">play_arrow</i>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
                
            <div v-if="modalPage.page === 'game'" v-show="modalPage.insta === true">
                <div class="row" style="margin: 0px;">
                    <div class="col" @click="modalPage.insta = false"><i class="material-icons" style="font-size: 20px;">arrow_back_ios</i></div>
                </div>
                <div class="row">
                    <div class="col s8">
                        <input type="text" placeholder="Instagram handle" :value="inputProfile" :class="{'invalid': modalPage.fail}"
                         @keypress="inputProfile = $event.target.value" @input="inputProfile = $event.target.value" @keyup="getProfile">
                    </div>
                    <div class="col s4" v-show="!modalPage.fail">
                        <img :src="url" alt="" class="circle responsive-img img-lead animated fadeInLeft" v-show="!modalPage.loader">
                        <spinner class="animated fadeIn" :colorClass="'default'" v-show="modalPage.loader"></spinner>
                    </div>
                    <div class="col s4" v-show="modalPage.fail">
                        <i class="material-icons">mood_bad</i><br><span style="font-size:10px">Oops! Not an instagram profile</span>
                    </div>
                </div>
                <div class="row animated bounceIn" v-show="modalPage.imageacquired">
                    <div class="col s12">
                        <div class="btn btn-block z-depth-2" @click="$emit('submitGame',inputProfile)" style="background:var(--main)">Submit</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <span class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</span>
        </div>-->
    </div>
</script>
<script type="text/x-template" id="dashboard">
    <div>
            <div class="top-banner"></div>
            <div class="container">
                <modal v-bind:modal-data="modalData" v-bind:modalPage="modalPage"></modal>
                <router-link to="/leaderboard">
                    <div class="btn-floating btn-large waves-effect waves-light fab-menu animated bounce z-depth-4">
                        <i class="fa fa-trophy" style="font-size:34px;color:white"></i>
                    </div>
                </router-link>
                <div class="row center-align" v-show="!loader" style="margin-top:20px">
                    <div class="col s12">
                        <spinner class="animated fadeIn" :colorClass="'default'"></spinner>
                    </div>
                </div>
                <div class="row animated fadeInDown tooltipped" data-position="bottom" data-tooltip="Yesterday's Champions" v-show="loader">
                    <div class="col s12">
                        <div class="row" style="margin:0.5rem 0 0.1rem 0;">
                            <champion class="col s4" v-if="prevWinners !== null" v-for="(x, index) in prevWinners" :url="x.profile_url" :index="index"></champion>
                        </div>
                        <div class="row" style="margin:0rem 0px 0rem;">
                            <div class="col s4 center-align" v-if="prevWinners !== null" v-for="(x, index) in prevWinners"><span class="truncate">{{x.name}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="row center-align" v-if="socialChallenge !== null">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s4">
                                        <img :src="url" class="circle responsive-img img-lead" v-imgfallback v-show="!modalPage.loader">
                                        <spinner class="animated fadeIn" :colorClass="'default'" v-show="modalPage.loader"></spinner>
                                    </div>
                                    <div class="col s8" v-if="socialChallenge.prize === undefined">I challenge you to beat my time <b>{{socialChallenge.time}}</b></div>
                                    <div class="col s8" v-if="socialChallenge.prize !== undefined">Win {{socialChallenge.prize}} with the fastest time over <b>{{socialChallenge.time}}</b></div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <span class="btn chip-selected animated pulse" @click="startSocialChallenge">Accept Challenge</span>
                                    </div>
                                </div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
                <div class="row animated bounceInLeft" v-for="x in category" style="margin-bottom:0px;">
                    <div class="col s12">
                        <div class="card card-side z-depth-2" v-bind:style="{borderLeftColor: x.color}">
                            <div class="card-content" style="padding:15px">
                                <div class="btn btn-full btn-large btn-black waves-light waves-effect" 
                                     v-on:click="toggleModal(x)">
                                    {{x.text}} <i v-if="x.logoClass !== undefined" :class="x.logoClass"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>
<script src="scripts/main.es5.js"></script>
</body>
</html>