<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="A fun song request platform & digital jukebox">
    <meta name="keywords" content="jukebox,digital jukebox,jukebox software,blessmyrequest,bless my request,digital song request">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/png">
    <meta property="og:url" content="http://blessmyrequest.com">
    <meta property="og:title" content="Bless My Request">
    <meta property="og:description" content="A fun song request platform">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="0F8PQEVqUilxTtYXcL5KDsUJQ6PVUoTBFppF6RMpBaQ" />
    <title>Bless My Request</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <link href="bmr/css/style.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="bmr/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="bmr/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="bmr/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="bmr/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="bmr/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="/bmr/lib/socket.io.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/nosleep/0.11.0/NoSleep.min.js" integrity="sha512-z2nddjNLcxjIKYaNqKfpwgl+8mFVU4gTL8afldQukUIOKYgFbD2TyDCyAFlCKuWoLhEJ49zpEnzLDiPMXKJ1kQ==" crossorigin="anonymous"></script> -->
</head>
<body>
    <div id="myapp">
        <router-view></router-view>
    </div>
<script type="text/x-template" id="landing"> 
    <div>
        <div class="background"></div>
        <div class="color-overlay"></div>
        <div class="center-align white-text" style="font-family: 'Oswald', cursive;">
            <div style="font-size: 40px;margin-top: 7%;font-weight: bold;letter-spacing: 3px;">
                <div>BLESSMYREQUEST</div>
                <img class="circle" style="margin-top: 50px;width:180px;height:180px;" src="bmr/assets/logo.png">
            </div>
            <spinner class="animated fadeIn" style="margin-top:100px" :colorClass="'white'"></spinner>
        </div>
    </div>
</script>
<script type="text/x-template" id="home-two">
    <div>
        <div class="card dark-card animated party-card" v-for="(x, index) in partyCards" 
            :key="index" :class="x.classes" @click="openModal(x.name)">
            <div class="top">
                <button>{{x.name}}</button>
                <img class="animated fadeInUpBig" v-show="x.name === 'host party' && showHostMobile" style="margin: 0 5px;"
                    :src="mobileOffImage" width="10%"/>
            </div>
            <div class="footer animated fadeInRight">
                <img style="margin: 0 5px;" v-for="(item, imgIndex) in x.icons" :key="imgIndex" :src="item.img" :width="item.width"/>
            </div>
        </div>
        <slide-modal :show="showModal" @close="closeModal" class="small-modal" style="background: var(--main-opaque)" :class="{'host-hue': isHostParty}">
            <div class="party-modal" style="padding: 10%;display: grid;">
                <input type="text" class="animated" :maxlength="partyModal.maxLength" :placeholder="partyModal.placeholder" v-model="modalInput"
                    :style="partyModal.inputStyle" :class="{'error shake': partyModalError}" @keyup="inputTyping" @keyup.enter="submitModalInput"/>
                <div class="btn btn-background animated fadeInUp" style="margin-top: 20px;width: 50%;place-self: center;"
                    v-show="modalInput !== '' && !partyModalLoader" @click="submitModalInput">{{partyModal.name}}</div>
                <spinner class="animated fadeIn" :colorClass="'default'" v-show="partyModalLoader" style="justify-self: center"></spinner>
            </div>
        </slide-modal>

    </div>
</script>
<script type="text/x-template" id="spotify">
    <div class="zontainer center-align animated fadeIn">
        <modal :modalPage="modalPage" @close="closeModal">
            <h5 style="text-align: center;margin-bottom: 30px">
                Enter VIP
            </h5>
        </modal>
        <badge v-if="isDjHere">
            <div class="dj-insta">
                <img class="circle img-online animated zoomIn" :src="djData.image">
                <div class="dj-name">{{djData.name}}</div>
                <a :href="`https://instagram.com/${djData.handle}`" target="_blank">
                    <span><i class="fab fa-instagram" style="font-size: 23px;"></i></span>
                </a>
            </div>
        </badge>
        <div class="zow">
            <div class="col s12 lead-fixed">
                <go-back></go-back>
                <div class="card-panel" style="margin-top: 0px;padding-top: 5px;">
                    <div class="row" style="margin-bottom: 0px;">
                        <img :src="club.image"
                             v-imgfallback 
                             alt="" class="circle animated infinite" width="90px" height="90px" @click="goToDjView"
                             :class="{'img-online': isConnected, 'img-offline wobble': !isConnected, 'img-vip': isVip}">
                        <p class="zero-margin" style="text-transform:capitalize;">
                            {{club.name}}<span class="grey-text animated fadeIn" v-show="!isConnected"> - Reconnecting...</span>
                        </p>
                        <p class="zero-margin-bottom">
                            <!-- <span><i class="material-icons">people</i>56</span> -->
                            <span class="chip" @click="SharePartyRoom">Share Party: {{club.id}}</span>
                            <!-- <span class="chip" v-show="!isVip" @click="enterVip">Enter VIP</span> -->
                            <span class="chip vip-chip" v-show="isVip">VIP Room - {{vipMode.limit}} requests left</span>
                        </p>
                    </div>
                    <div class="row" style="margin-bottom: 0px;">
                        <form  novalidate @submit.stop.prevent="searchTrack">
                            <div class="col s9">
                                <input type="text" name="q" placeholder="Search tracks" v-model="searchInput" 
                                       v-inputHighlight autocomplete="off" :class="{'vip-input': isVip}">
                            </div>
                            <div class="col s3">
                                <button type="submit" class="btn btn-floating waves-effect waves-light">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 252px;">
            <spinner :colorClass="'default'" v-show="loader"></spinner>
            <adsense v-if="!loader && searchResult.length !== 0"></adsense>
            <div class="row " v-show="!loader">
                <div class="card dark-card animated fadeInUp" v-show="noResult === true">
                    <div class="row">
                        <div class="col s12">
                            <p><b>Sorry!! Can't find that song.</b></p>
                            <p><b>Search for another song.</b></p>
                        </div>
                    </div>
                </div>
                <div class="card dark-card animated fadeInUp" v-for="(x, index) in displaySearchResult" :class="{'firstresult': index === 0}" :key="x.id">
                    <div class="row song-result-center">
                        <div class="col s4">
                            <div style="position: relative;width: min-content;margin: 0 auto;">
                                <img :src="x.image" class="img-result">
                                <span class="btn btn-small btn-floating lead-fab z-depth-3 animated bounceIn" v-show="alreadyRequested(x.id) === true">
                                    <i class="material-icons">check</i>
                                </span>
                            </div>
                        </div>
                        <div class="col s5 song-details">
                            <span v-html="x.song"></span>
                            <p class="grey-text p-space" v-html="x.artist"></p>
                            
                        </div>
                        <div class="col s3">
                            <span class="btn btn-floating waves-effect waves-light" @click="!isVip ? sendRequest(x) : vipSendRequest(x)" 
                                  :disabled="alreadyRequested(x.id) === true"
                                  :class="{'btn-opaque':alreadyRequested(x.id) === true}">
                                <i class="material-icons">send</i>
                            </span>
                            <p class="grey-text animated bounce" style="font-size:12px" v-show="alreadyRequested(x.id) === true">Requested</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="djspotify">
    <div class="zontainer center-align animated fadeIn">
        <badge name="Settings" @close-badge="setupAutoPlay">
            <div class="col s12 genre">
                <span class="chip" style="opacity:0.5;">Auto DJ</span>
                <span class="chip" :class="{'genre-selected': x.selected}" v-for="(x, index) in genreOptions" :key="index" @click="toggleGenre(x)">{{x.genre}}</span>
            </div>
            <get-insta :comp="modalPage" @get-profile="getProfile" style="margin-top: 23px;padding: 0 10%;"></get-insta>
            <div class="btn btn-background" v-if="modalPage.imageacquired" @click="setDj">Take The Spotlight</div>
        </badge>
        <div class="btn-floating btn-large waves-effect waves-light fab-menu animated bounce z-depth-4" @click="toggleShowHostRequest" v-show="jukeboxPlayerReady">
            <i class="material-icons" style="font-size:32px;color:white;margin-top:2px;">playlist_add</i>
        </div>
        <slide-modal :show="showHostRequest" @close="toggleShowHostRequest">
            <div class="host-search-container">
                <div class="row" style="margin-bottom: 0px;width:100%;padding:6%">
                    <form  novalidate @submit.stop.prevent="hostSearchTrack">
                        <div class="col s9">
                            <input type="text" name="q" placeholder="Search tracks" v-model="searchInput" 
                                   v-inputHighlight autocomplete="off">
                        </div>
                        <div class="col s3">
                            <button type="submit" class="btn btn-floating waves-effect waves-light">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="host-search-results" style="overflow-y:scroll;flex-grow:1;padding:0 6%;">
                    <spinner :colorClass="'default'" v-show="loader"></spinner>
                    <div class="row " v-show="!loader">
                        <div class="card dark-card animated fadeInUp" v-show="noResult === true">
                            <div class="row">
                                <div class="col s12">
                                    <p><b>Sorry!! Can't find that song.</b></p>
                                    <p><b>Search for another song.</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="card dark-card animated fadeInUp" v-for="(x, index) in displaySearchResult" :class="{'firstresult': index === 0}" :key="x.id">
                            <div class="row song-result-center">
                                <div class="col s4">
                                    <div style="position: relative;width: min-content;margin: 0 auto;">
                                        <img :src="x.image" class="img-result">
                                        <span class="btn btn-small btn-floating lead-fab z-depth-3 animated bounceIn" v-show="alreadyRequested(x.id) === true">
                                            <i class="material-icons">check</i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col s5 song-details">
                                    <span v-html="x.song"></span>
                                    <p class="grey-text p-space" v-html="x.artist"></p>
                                    
                                </div>
                                <div class="col s3">
                                    <span class="btn btn-floating waves-effect waves-light" @click="hostSendRequest(x)" 
                                        :disabled="alreadyRequested(x.id) === true"
                                        :class="{'btn-opaque':alreadyRequested(x.id) === true}">
                                        <i class="material-icons">play_arrow</i>
                                    </span>
                                    <p class="grey-text animated bounce" style="font-size:12px" v-show="alreadyRequested(x.id) === true">In Queue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide-modal>
        <div class="zow">
            <div class="col s12 lead-fixed">
                <go-back></go-back>
                <div class="card-panel" style="margin-top: 0px;">
                    <div class="row valign-wrapper"  style="margin-bottom: 0px;">
                        <div class="col s4">
                            <img :src="club.image" 
                                 alt="" class="circle animated infinite" width="90px" height="90px" v-imgfallback
                                 :class="{'img-online': isConnected, 'img-offline wobble': !isConnected}">
                        </div>
                        <div class="col s4"><span><i class="material-icons">people</i>{{population.length}}</span></div>
                        <div class="col s4" style="font-weight:bold;letter-spacing:1px;position: relative;" @click="SharePartyRoom">
                            <div style="position: relative;display: inline-flex;justify-content: center;">
                                <!-- <span class="btn btn-floating">
                                    <i class="material-icons" v-if="!isMobileOrTablet()">share</i>
                                    <i class="material-icons" style="transform: rotateY(180deg)" v-if="isMobileOrTablet()">share</i>
                                </span> {{club.id}}
                                <div style="font-size: 11px;text-transform: capitalize;color: #9e9e9e;margin-top: 3px;letter-spacing: 0.5px;">invite friends</div> -->
                                <div class="qrCode" ref="qrCode" width="60px"></div>
                                <span style="position: absolute;bottom: -17px;left: 39px;">{{club.id}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="jukebox-container" style="display:none">
                        <div class="jukebox-cover">
                            <i class="material-icons" style="font-size: 8em">power_settings_new</i>
                        </div>
                        <div id="jukebox"></div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div style="margin-top: 160px;">
            <spinner :colorClass="'default'" v-show="loader"></spinner>
            <div class="row " style="margin-bottom: 60px" v-show="!loader">
                <div class="card dark-card animated fadeInUp" v-for="(x, index) in displayRequests" :key="x.id" :class="{'first-in-queue': index === 0}">
                    <i class="material-icons more-vert-icon" :class="{'white-text': x.showOptions}" v-if="index > 0" @click="toggleOptions(x)">more_vert</i>
                    <div class="row song-result-center" :class="{'dj-vip': x.vipList.size > 0}">
                        <div class="col s4">
                            <div class="image-container" :class="{'first-image': index === 0, 'dj-gold': x.isAuto}">
                                <img class="img-result" :src="x.image">
                                <span class="btn btn-small btn-floating lead-fab z-depth-3" v-if="x.isAuto">DJ</span>
                                <span class="btn btn-small btn-floating lead-fab z-depth-3 waves-effect" v-if="widgetStarted && !x.isAuto && index !== 0 && !x.showOptions"
                                      @click="moveSelectedSongToPlayNext(index, true)">
                                    <i class="material-icons">play_arrow</i>
                                </span>
                                <span class="chip option-chip animated fadeInLeft" v-show="x.showOptions && index > 0" @click="moveSelectedSongToPlayNext(index)">Play Next</span>
                                <i class="material-icons animated bounceIn music-control" v-show="index < 1 && widgetStarted && !playing"
                                @click="mediaPlay">play_arrow</i>
                                <i class="material-icons animated bounceIn music-control" v-show="index < 1 && widgetStarted && playing"
                                @click="mediaPause">pause</i>
                            </div>   
                        </div>                     
                        <div class="col s5 song-details">
                            <div class="switch" style="margin-bottom: 10px;" v-show="x.showVip">
                                <label>
                                    No
                                    <input type="checkbox" v-model="x.playedVip">
                                    <span class="lever"></span>
                                    Yes
                                </label>
                            </div>
                            {{x.song | songName}} 
                            <p class="grey-text p-space">{{x.artist | songName}}</p>
                            <p class="p-space" v-if="!jukeboxMode"><b>[ {{x.bpm}} ]</b></p>
                            <p class="p-space" v-if="!jukeboxMode && x.explicit"><b>---- Explicit ----</b></p>
                        </div>
                        <div class="col s3">
                            <span class="btn btn-floating" @click="hideRequest(x)" v-show="x.vipList.size <= 0 || x.showVip">
                                <i class="material-icons" >close</i>
                            </span>
                            <span class="btn btn-floating" @click="x.showVip = true" v-show="x.vipList.size > 0 && !x.showVip">
                                <i class="material-icons">attach_money</i>
                            </span>
                            <p class="grey-text animated bounce" style="font-size:12px" v-show="jukeboxMode && index < 1">Now playing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</script>
<script type="text/x-template" id="report">
    <div>
        <h4 class="center-align white-text" style="margin-bottom:40px;">
            Report
        </h4>
        <div class="row">
            <div class="col s6">
                <select name="clubs" v-model="clientId" @change="getReport" class="white">
                    <option value="">All</option>
                    <option :value="item.id" :key="index" v-for="(item, index) in clubs">{{item.name}}</option>
                </select>
            </div>
            <div class="col s6">
                <input type="text" class="datepicker white">
            </div>
        </div>
        <div class="row center-align">
            <spinner :colorClass="'default'" v-show="loader"></spinner>
        </div>
        <div class="card dark-card animated fadeInUp" v-for="(x, index) in reportDisplay" v-show="!loader">
            <div class="row">
                <div class="col s4">
                    <div style="position: relative;">
                        <img class="circle" :src="x.image" width="70px">
                    </div>
                </div>
                <div class="col s5" style="text-transform:capitalize;">
                    {{x.name}}
                    <p class="grey-text p-space">{{x.city}}</p>
                    
                </div>
                <div class="col s3">
                    S:{{x.totalSearch}} | R:{{x.totalRequest}}
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="comp-modal">
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div>
                <div class="row" style="margin: 0px;">
                    <div class="col" @click="closeModal"><i class="material-icons" style="font-size: 20px;">arrow_back_ios</i></div>
                </div>
                <slot></slot>
                <div class="row">
                    <div class="col s8">
                        <input type="text" placeholder="Instagram handle" :value="inputProfile" :class="{'invalid': modalPage.fail}"
                         @keypress="inputProfile = $event.target.value" @input="inputProfile = $event.target.value" @keyup="getProfile">
                    </div>
                    <div class="col s4" v-show="!modalPage.fail" style="position: relative;">
                        <img :src="url" alt="" class="circle responsive-img img-lead animated fadeInLeft" v-show="!modalPage.loader">
                        <span v-show="modalPage.verified" class="btn btn-small btn-floating lead-fab z-depth-3"><i class="material-icons">check</i></span>
                        <span v-show="modalPage.unverified" class="btn btn-small btn-floating lead-fab z-depth-3 not-vip"><i class="material-icons">close</i></span>
                        <spinner class="animated fadeIn" :colorClass="'default'" v-show="modalPage.loader"></spinner>
                    </div>
                    <div class="col s4" v-show="modalPage.fail">
                        <i class="material-icons">mood_bad</i><br><span style="font-size:10px">Oops! Not an instagram profile</span>
                    </div>
                </div>
                <div class="row animated bounceIn" v-show="modalPage.showButton && !modalPage.loader && modalPage.imageacquired">
                    <div class="col s12">
                        <div class="btn btn-block z-depth-2" @click="submitModal" style="background:var(--main)">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="bmr/dist/bundle.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>